.flag {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;

  &--ru {
    background-image: url("/assets/icons/language/ru.svg");
  }

  &--en {
    background-image: url("/assets/icons/language/en.svg");
  }
}
