.stb-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  &__item {
    display: flex;

    &--menu-button {
      order: 0;
    }

    &--logo {
      order: 1;
    }

    &--nav-menu {
      order: 3;
    }

    &--search {
      order: 2;
      flex-grow: 1;
    }
  }

  &.tablet-landscape {
    .stb-navbar {
      &__item {
        &--logo {
          flex-grow: 1;
        }

        &--nav-menu {
          order: 2;
        }

        &--search {
          order: 3;
          flex-basis: 100%;
        }
      }
    }
  }
}
