@import 'src/styles/colors';

.stb-menu-button {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba($white, 0.4);
  border-radius: 8px;
  padding: 2.1rem 0.9rem;
  margin-right: 2rem;
  cursor: pointer;

  &:hover {
    border-color: $white;
  }

  &__burger-line {
    width: 2.8rem;
    height: 0.4rem;
    background-color: $white;
    border-radius: 4px;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      display: block;
      background: $white;
      border-radius: 4px;
    }

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }
}
