@import 'src/styles/colors';

.stb-header {
  display: flex;
  height: auto;
  padding: 1.6rem 0 4.4rem 0;
  background: linear-gradient(to right, $pink 0, $purple 100%) no-repeat;

  &__container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 150rem;
    padding: 0 3.2rem;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
  }

  &__bottom {
    width: 100%;
  }

  &.tablet-landscape {
    padding: 1.6rem 0 2.4rem 0;
  }

  &.tablet-portrait {
    padding: 1rem 0;

    .stb-header {
      &__container {
        padding: 0 1.6rem;
      }
    }
  }
}
