@import 'src/styles/colors';
@import 'src/styles/typography';

.stb-logo {
  font-size: $text-xl;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;

  &.tablet-portrait {
    font-size: $text-lg;
  }
}
