@import 'src/styles/colors';
@import 'src/styles/typography';

.stb-language {
  display: flex;
  align-items: center;
  margin-right: 3.2rem;
  cursor: pointer;
  position: relative;

  $language: &;

  &:hover {
    #{$language}__popup {
      display: block;
    }
  }

  &__country {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.8rem;
  }

  &__current {
    text-transform: capitalize;
    color: $white;
    opacity: $muted;
    font-size: $text-sm;
  }

  &__popup {
    display: none;
    position: absolute;
    top: 100%;
    padding-top: 1.2rem;
    z-index: 50;
  }
}
