@import 'src/styles/colors';
@import 'src/styles/typography';

.stb-navbar-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left-container {
    display: flex;
    align-items: center;
  }

  &__language {
    display: flex;
    align-items: center;
    background-color: rgba($white, 0.2);
    color: rgba($white, $muted);
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin-right: 2rem;
  }

  &__country {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.6rem;
  }

  &__country-code {
    font-size: $text-sm;
    font-weight: 500;
  }

  &__location,
  &__search {
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
  }

  &__location {
    background-image: url("/assets/icons/location/location-mobile.svg");
    background-position: center;
  }

  &__search {
    background-image: url("/assets/icons/inputs/search-mobile.svg");
    background-position: 0.6rem 50%;
    background-size: 6.3rem auto;
  }
}
